asn1crypto==0.22.0
cachetools==2.0.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
click==6.7
cryptography==2.0.3
eventlet==0.26.1
Flask==1.1.2
greenlet==0.4.12
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.11.2
kafka-python==1.4.6
MarkupSafe==1.0
pycparser==2.18
pymongo==3.11.0
PyMySQL==0.7.9
pyOpenSSL==17.2.0
PySocks==1.6.7
python-engineio==3.13.1
python-socketio==4.6.0
requests==2.31.0
six==1.11.0
urllib3==1.22
Werkzeug==1.0.1
Flask-SocketIO==4.3.1
pytz==2020.1
python-dateutil==2.8.1
git+https://github.com/slaclab/flask_authnz.git
git+https://github.com/slaclab/flask_socket_util.git
