#title {
    text-align: left;
	margin-bottom: 1.0em;
    color: #0071bc;
    font-weight: bold;
    font-size: 17px;
    font-family: Lucida Grande, Lucida Sans, Arial, sans-serif;
}

#title span {
	padding-right: 5.0em;
	border-bottom: 2px solid #0071bc;
}

#elogtbl tr th {
	color: #0071bc;
}