
.row.content {height:auto;}

@color-primary-0: #6685F4;	/* Main Primary color */
@color-primary-1: #BDCBFC;
@color-primary-2: #8CA4F8;
@color-primary-3: #4367ED;
@color-primary-4: #1E48DF;

@color-secondary-1-0: #9064F4;	/* Main Secondary color (1) */
@color-secondary-1-1: #D0BCFC;
@color-secondary-1-2: #AC8BF8;
@color-secondary-1-3: #7540ED;
@color-secondary-1-4: #571BE0;

@color-secondary-2-0: #FFE757;	/* Main Secondary color (2) */
@color-secondary-2-1: #FFF5B7;
@color-secondary-2-2: #FFED81;
@color-secondary-2-3: #FFE130;
@color-secondary-2-4: #FFDB05;

@color-complement-0: #FFCC57;	/* Main Complement color */
@color-complement-1: #FFE9B7;
@color-complement-2: #FFD981;
@color-complement-3: #FFC030;
@color-complement-4: #FFB305;

@navbarcolor: @color-primary-0;
@navbarhover: @color-primary-4;
@activewidgetcolor: @color-complement-0;
@contrastcolor: @color-complement-4;
@navbartext: white;
@tablezebra: #efefef;
@tblhdrbg: @color-primary-0;


.highlight_mixin {
    color: @navbartext;
	background: @navbarcolor;
	font-weight: bold;
}

.bold_text_mixin {
  color: @navbarcolor;
  font-weight: bold;
}

.font_family_choices_mixin {
  font-family: Optima, Helevetica, Lucida Grande, Lucida Sans, sans-serif;
}

.listview_icon_mixin {
  opacity: .5;
  padding-left: 0.25em;
  padding-right: 0.25em;
}

.validation_warning {
    color: @contrastcolor;
}

#lgbk_body {
  .font_family_choices_mixin;
}

label {
	color: @navbarcolor;
}

#myNavRow {
  background-color: @navbarcolor;
  margin-bottom: 0;
  border-radius: 0;
}

#myNavRow li.active a {
  background-color: @navbarhover;
  color: @navbartext;
}

#myNavRow li:hover a {
  background-color: @navbarhover;
  color: @navbartext;
}

#myNavRow li a {
  color: @navbartext;
}

#myNavRow .logged_in_user_name {
    padding-right: 0.25em;
}
#myNavRow li.session_items.session_timeout a {
    color: @contrastcolor;
}

.slac_logo {
  height: 28px;
  margin-top: 6px;
  float: right;
  padding-right: 2.0em;
  padding-bottom: 0.5em;
}

.tab_title_bar {
    margin: 0px;
    padding-top: 0.1em;
	padding-bottom: 0.1em;
	background-color: @navbarcolor;
    text-align: center;
}

.exp_title {
    font-size: 1.25em;
	text-align: center;
    display: inline-block;
    font-weight: bold;
	color: @navbartext;
}

#toolbar_for_tab {
    float: right;
    margin-right: 15px;
}

#toolbar_for_tab .fa.pushedin {
    color: @activewidgetcolor;
}

#toolbar_for_tab .fa {
    color: @navbartext;
    background: @navbarcolor;
}

.ttip .ttiptext {
    font-style: normal;
    background: @navbartext;
    visibility: hidden;
    width: 30em;
    text-align: center;
    padding: 5px 0;
    border: @navbarcolor solid thin;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    color: black;
    top: 100%;
    left: 50%;
    margin-left: -15em;
}

.ttip:hover .ttiptext {
    visibility: visible;
}


.exp_info h1 {
	font-size: 1.1em;
	font-weight: bold;
	color: @navbarcolor;
	border-bottom: thin solid @navbarcolor;
	text-align: left;
	padding-left: 1.0em;
}

.exp_info .group .header {
	font-weight: bold;
	float: left;
}

.exp_info textarea {
    margin-left: 1%;
    width: 98%;
}

.exp_info input {
    margin-left: 1%;
    width: 98%;
}

.dl-horizontal dt {
	color: @navbarcolor;
}

.dl-horizontal dd {
	text-align: left;
}

@media screen and (max-width: 767px) {
 .dl-horizontal dt, dd {
	text-align: left;
	padding-left: 1px;
 }
}

#info_toolbar {
	float: right;
	color: @navbartext;
	padding-right: 1.0em;
}


.search_text_mixin {
    padding: 0.25em;
	border: thin solid @navbarcolor;
	margin: 0.25em;
	color: @navbarcolor;
	font-size: 17px;
}

#searchtext {
    .search_text_mixin;
}

.modal-title {
    .highlight_mixin;
    padding-left: 1.0em;
    padding-right: 1.0em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.modal-body table tr th {
    .highlight_mixin;
}

#register_edit_exp_tab .modal-content {
  padding: 0.5em;
}

#register_edit_exp_tab .panel-body {
  padding: 0.5em;
}

#register_edit_exp_tab .btn {
  .highlight_mixin;
}

#register_edit_exp_tab th {
  .highlight_mixin;
}

#ops_instruments_tab .instrument_lbl {
  .bold_text_mixin;
}

.param_table_mixin {
     tr th {
        .highlight_mixin;
        padding-left: 2.0em;
    }
    .fa {
        opacity: 0.5;
    }
}

#ops_instruments_tab .modal .table {
  .param_table_mixin;
}

#ops_instruments_tab th {
  .highlight_mixin;
}

#ops_exp_searchtext {
    .search_text_mixin;
}

#register_edit_exp_tab .modal .table {
  .param_table_mixin;
}

#experiments_container thead th {
	color: @navbarhover;
}

#experiments_container tbody td a {
  color: @navbarhover;
}

#experiments_container li a.year_pill {
	color: @navbarcolor;
	font-weight: bold;
}

.year_pill_active {
  .highlight_mixin;
}

#experiments_container li.active a {
  .year_pill_active;
}

#experiments_container li a:hover {
  .year_pill_active;
}

#panel_title {
	color: @navbarcolor;
	background: @navbarcolor;
	font-weight: bold;
}

#panel_btn {
	color: @navbarcolor;
	background: linear-gradient(@navbarcolor, @navbarhover);
	font-weight: bold;
}

#switch_experiment_div th {
  .highlight_mixin;
}

#switch_experiment_div .btn {
  .highlight_mixin;
}

#expswitch_tab .modal {
    .rowselect {
        .bold_text_mixin;
        background: @activewidgetcolor;
    }
}

#choose_experiment_modal table td a {
  color: @navbarcolor;
}

#myTabContainer .exp_tab_header {
  .highlight_mixin;
	border: thin black solid;
	padding: 0.2em;
}

#elog_tab div.edat {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

#elog_tab div.followup_div {
    margin-left: 0.5em;
}

#elog_tab .elog_main_content {
    text-align: left;
}

#elog_tab .elog_deleted {
    text-decoration: line-through;
}

#elog_tab .elog_deleted_by {
    color: @contrastcolor;
    padding-left: 1.25em;
    text-align: left;
}

#elog_tab div.etop:nth-child(odd) {
	background: @tablezebra;
}

#elog_tab .elog_tag {
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#elog_tab .elog_tag:not(:first-child) {
    border-left: thin solid @navbarhover;
}

#elog_search_text {
    padding: 0.1em;
    margin: 0;
    border: none;
    border-radius: 4px;
    width: 15em;
    color: @navbarcolor;
    font-weight: bold;
}

#elog_tab .elog_run_param_category {
    background: @tablezebra;
    .expand_param {
        padding-right: 0.25em;
    }
}

#elog_new_entry_modal {
    margin-left: 1.0em;
}

#current_sample_lbl .fa {
    padding-right: 0.25em;
}
#current_sample_lbl {
    font-weight: lighter;
    font-size: small;
    font-style: italic;
    margin-left: 1.0em;
}

#current_sample_lbl.samples_different {
    color: @activewidgetcolor;
}

#myTabContainer .expand_ctrl {
  font-size: 0.75em;
}

#myTabContainer .exp_icons_left {
	float: left;
  padding-right: 0.2em;
}

#myTabContainer .text_truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#myTabContainer ul.nav-pills li a {
	color: @navbarcolor;
	font-weight: bold;
}

#myTabContainer ul.nav-pills li.active a {
  .highlight_mixin;
}

#myTabContainer ul.nav-pills li  a:hover {
  .highlight_mixin;
}

#elog_content {
    padding: 1px;
    margin: 0px;
    padding-top: 0px;
}
#elog_content .fa {
	opacity: .5;
}

#elog_content .entry_actions {
	float:right;
	font-size: 0.90em;
	padding-right: 0.25em;

    .fa {
        padding-left: 0.15em;
        padding-right: 0.15em;
    }
}

#fmgr_tab .run_file:nth-child(odd) {
	background: @tablezebra;
}

#fmgr_tab .fdat {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

#fmgr_tab .fdat:nth-child(odd) {
	background: @tablezebra;
}

#fmgr_tab .fa {
	opacity: .5;
}

#fmgr_tab .fmgr_exp_file_name {
  padding-left: 2.0em;
  word-break: break-all;
}

#rtbl_content table {
  width: 100%;
}

#rtbl_content table thead tr th {
  overflow: hidden;
  white-space: nowrap;
  background: @tblhdrbg;
  color: @navbartext;
  opacity: .75;
  font-weight: normal;
}

#rtbl_content .tblhighlight {
  background-color: @navbarhover
}

#rtbl_content .rtbldef_action {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

#rtbl_content td.rtbl_separator {
  background: @tablezebra;
  width: 0.25em;
}

#rtbl_content .rtbl_thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100px;
}

#rtbl_content div.rtbl_editable_column {
    display: inline-block;
}


#rtbl_tab .btn {
  .highlight_mixin;
}

#shifts_tab .btn {
  .highlight_mixin;
}

#shifts_tab .table th {
  .highlight_mixin;
}


#shifts_tab .btnbar {
  margin-left: 0.5em;
  text-align: left;
}


#shifts_tab .listview-action {
  .listview_icon_mixin;
}

#shifts_tab .shiftstbl tr.active_shift td {
  .bold_text_mixin;
  background: @activewidgetcolor;
  margin: 0.1em;
  padding: 0.1em;
}

#sample_content {
    padding: 1px;
    margin: 0px;
    padding-top: 0px;
}

#samples_tab .btn {
  .highlight_mixin;
}

#samples_tab .table th {
  .highlight_mixin;
}


#samples_tab .btnbar {
  margin-left: 0.5em;
  text-align: left;
}


#samples_tab .listview-action {
  .listview_icon_mixin;
}

#samples_tab .samplestbl tr.active_sample td {
  .bold_text_mixin;
  background: @activewidgetcolor;
  margin: 0.1em;
  padding: 0.1em;
}

.note-callout {
    border: thin @navbarcolor solid;
    padding: 0.5em;
    margin-top: 0.25em;
}

#collab_tab .collabtbl {
    thead tr th {
        text-align: center;
        .highlight_mixin;
    }
    tbody tr td {
        text-align: left;
        padding-left: 1.0em
    }
    tbody tr td .fa {
        padding-right: 1.0em;
    }
    tbody tr td .fa-trash {
        opacity: 0.7;
    }
    tbody tr td .role_present {
        color: red;
    }
    tbody tr td .role_absent {
        color: green;
    }
    .croxxout {
        vertical-align: sub;
        font-size: small;
        position: relative;
        bottom: -0.25em;
        right: 1.5em;
    }
    .collab-no-role {
        opacity: 0.5;
    }
}

#collab_mdl_holder tbody  {
    .fa {
        padding-right: 0.75em;
    }

    .fa.disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
