.row.content {
  height: auto;
}
/* Main Primary color */
/* Main Secondary color (1) */
/* Main Secondary color (2) */
/* Main Complement color */
.highlight_mixin {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
.bold_text_mixin {
  color: #6685F4;
  font-weight: bold;
}
.font_family_choices_mixin {
  font-family: Optima, Helevetica, Lucida Grande, Lucida Sans, sans-serif;
  font-size: 0.85rem;
}
.listview_icon_mixin {
  opacity: 0.5;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
}
.validation_warning {
  color: #FFB305;
  font-weight: bold;
  font-size: 1.5rem;
}
.small_btn_mixin {
  font-size: 0.5rem;
  padding: 1px;
  margin: 1px;
}
#lgbk_body {
  font-family: Optima, Helevetica, Lucida Grande, Lucida Sans, sans-serif;
  font-size: 0.85rem;
}
#lgbk_body span.help {
  color: white;
  background: #6685F4;
}
#lgbk_body .infohelp {
  font-style: italic;
}
#lgbk_body .infohelp span.helpd {
  background: white;
  color: #6685F4;
}
#lgbk_body .infohelp .no-break {
  white-space: nowrap;
}
label {
  color: #6685F4;
}
#myNavRow {
  background-color: #6685F4;
  margin-bottom: 0;
  border-radius: 0;
}
#myNavRow li.active a {
  background-color: #1E48DF;
  color: white;
}
#myNavRow li:hover a {
  background-color: #1E48DF;
  color: white;
}
#myNavRow li a {
  color: white;
}
#myNavRow .logged_in_user_name {
  padding-right: 0.25em;
}
#myNavRow li.session_items.session_timeout a {
  color: #FFB305;
}
#myNavRow .navbar_icon_btn {
  color: white;
  background: #6685F4;
  margin-left: 1em;
  margin-right: 1em;
}
#myNavRow .navbar_icon_btn .btntext {
  margin-right: 0.5em;
  margin-left: 0.5em;
}
#myNavbar .currently_active {
  margin-right: 1em;
  margin-left: 1em;
  color: white;
}
#myNavbar .currently_active .standby {
  padding-left: 0.25rem;
}
#lgbk_footer {
  left: auto;
}
.slac_logo {
  height: 28px;
  margin-top: 6px;
  float: right;
  padding-right: 2em;
  padding-bottom: 0.5em;
}
.tab_title_bar {
  margin: 0px;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background-color: #6685F4;
  text-align: center;
}
.exp_title {
  font-size: 1.25em;
  text-align: center;
  display: inline-block;
  font-weight: bold;
  color: white;
}
#toolbar_for_tab {
  float: right;
  margin-right: 15px;
  margin-left: 10px;
}
#toolbar_for_tab .fa.pushedin {
  color: #FFCC57;
}
#toolbar_for_tab span {
  color: white;
  background: #6685F4;
}
.exp_info h1 {
  font-size: 1.1em;
  font-weight: bold;
  color: #6685F4;
  border-bottom: thin solid #6685F4;
  text-align: left;
}
.exp_info .group .header {
  font-weight: bold;
  float: left;
}
.exp_info textarea {
  margin-left: 1%;
  width: 98%;
}
.exp_info input {
  margin-left: 1%;
  width: 98%;
}
.exp_info .exp_details {
  padding-left: 0.5em;
}
.exp_info .exp_details span.label {
  color: #6685F4;
  font-weight: bold;
}
.exp_info .exp_details span {
  text-align: left;
}
@media screen and (max-width: 767px) {
  .dl-horizontal dt,
  dd {
    text-align: left;
    padding-left: 1px;
  }
}
#info_toolbar {
  float: right;
  color: white;
  padding-right: 1em;
}
#cryo_info_samples {
  margin-top: 1em;
  text-align: left;
}
#cryo_info_samples h3 {
  font-size: 1em;
  color: #6685F4;
  border-bottom: thin solid #6685F4;
  text-align: left;
  font-weight: bold;
}
#cryo_info_samples .sample_info {
  border-bottom: thin solid #6685F4;
  padding-bottom: 0.5em;
}
#cryo_info_samples .sample_info .label {
  color: #6685F4;
}
.search_text_mixin {
  padding: 0.25em;
  border: thin solid #6685F4;
  margin: 0.25em;
  color: #6685F4;
  font-size: 17px;
}
#searchtext {
  padding: 0.25em;
  border: thin solid #6685F4;
  margin: 0.25em;
  color: #6685F4;
  font-size: 17px;
}
.modal {
  text-align: left;
}
.modal table tr th {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
.modal table td {
  padding: 0;
  margin: 0;
}
.modal table input {
  background-color: inherit;
}
.modal table select {
  background-color: inherit;
}
.modal-title {
  color: white;
  background: #6685F4;
  font-weight: bold;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
.ops_list_icons {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #6685F4;
}
#switch_experiment_div th {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#switch_experiment_div .btn {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#expswitch_tab .modal .rowselect {
  color: #6685F4;
  font-weight: bold;
  background: #FFCC57;
}
#expswitch_tab .ops_switch_icons {
  white-space: nowrap;
}
#expswitch_tab .ops_switch_icons span {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #6685F4;
}
#expswitch_tab .exp_switch_standby {
  color: #FFB305;
  font-weight: bold;
}
#expswitch_tab .expswitch_run_open {
  color: #FFB305;
  font-weight: bold;
}
#expswitch_choose_experiment table {
  display: block;
  overflow-y: scroll;
}
#expswitch_choose_experiment table td {
  padding: 0.25rem;
}
#expswitch_choose_experiment table td a {
  color: #6685F4;
}
#expswitch_choose_experiment .btn-group .btn {
  margin-top: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#register_edit_exp_tab .modal-content {
  padding: 0.5em;
}
#register_edit_exp_tab .panel-body {
  padding: 0.5em;
}
#register_edit_exp_tab .btn {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#exp_searchresults th {
  color: white;
  background: #6685F4;
  font-weight: bold;
  white-space: nowrap;
}
#exp_searchresults th .fas {
  padding-left: 0.25em;
}
#register_edit_exp_tab .ops_exp_icons {
  white-space: nowrap;
}
#register_edit_exp_tab .ops_exp_icons span {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #6685F4;
}
#register_edit_exp_tab .clone_select_attrs td {
  text-align: left;
  padding-left: 2em;
}
#ops_instruments_tab .editinsbtn {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #6685F4;
}
#ops_instruments_tab .instrument_lbl {
  color: #6685F4;
  font-weight: bold;
}
.param_table_mixin tr th {
  color: white;
  background: #6685F4;
  font-weight: bold;
  padding-left: 2em;
}
.param_table_mixin .fas {
  opacity: 0.5;
}
#ops_instruments_tab .modal .table tr th {
  color: white;
  background: #6685F4;
  font-weight: bold;
  padding-left: 2em;
}
#ops_instruments_tab .modal .table .fas {
  opacity: 0.5;
}
#ops_instruments_tab .modal .table .param_action {
  opacity: 0.5;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
  font-size: inherit;
  color: #1E48DF;
}
#ops_instruments_tab th {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#ops_reports_tab .chartrow {
  height: 80vw;
}
#ops_exp_searchtext {
  border: thin solid #6685F4;
  color: #6685F4;
}
#myNavRow .ops_user {
  margin-left: 1rem;
  float: right;
}
#myNavRow .ops_user a {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#register_edit_exp_tab .modal .param_table tr th {
  color: white;
  background: #6685F4;
  font-weight: bold;
  padding-left: 2em;
}
#register_edit_exp_tab .modal .param_table .fas {
  opacity: 0.5;
}
#register_edit_exp_tab .modal .param_table .param_action {
  opacity: 0.5;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
  font-size: inherit;
  color: #1E48DF;
}
#experiments_container thead th {
  color: #1E48DF;
}
#experiments_container tbody td a {
  color: #1E48DF;
}
#experiments_container li a.year_pill {
  color: #6685F4;
  font-weight: bold;
}
.year_pill_active {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#experiments_container li a.active {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#experiments_container li a:hover {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#panel_title {
  color: #6685F4;
  background: #6685F4;
  font-weight: bold;
}
#panel_btn {
  color: #6685F4;
  background: linear-gradient(#6685F4, #1E48DF);
  font-weight: bold;
}
#switch_in_exp_mdl .rowselect {
  color: #6685F4;
  font-weight: bold;
  background: #FFCC57;
}
#switch_in_exp_mdl .message {
  font-size: 1.25em;
}
#myTabContainer .exp_tab_header {
  color: white;
  background: #6685F4;
  font-weight: bold;
  border: thin #1E48DF solid;
  padding: 0.2em;
}
#myTabContainer .listview-action {
  opacity: 0.5;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
}
#myTabContainer .param_action {
  opacity: 0.5;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
  font-size: inherit;
  color: #1E48DF;
}
#myTabContainer .modal .btn {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#info_tab .ques_tabs .sitespecific_iframe {
  width: 100vw;
  height: 100vw;
  padding: 0;
  border: 0;
}
#info_tab .ques_tabs .no_ques {
  text-align: left;
  font-style: italic;
  padding-left: 2em;
  padding-right: 2em;
}
#elog_tab div.edat {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
#elog_tab div.followup_div {
  margin-left: 0.5em;
  width: 100%;
}
#elog_tab div.followup_div .email_select {
  width: inherit;
}
#elog_tab div.followup_div .col-sm-8 {
  padding-left: inherit;
}
#elog_tab div.followup_div .card {
  border: 3px solid #6685F4;
}
#elog_tab div.followup_div .custom-file-label {
  color: #6685F4;
}
#elog_tab .elog_main_content {
  text-align: left;
}
#elog_tab .elog_attachments_only {
  height: 100%;
  overflow-y: scroll;
}
#elog_tab .elog_deleted {
  text-decoration: line-through;
}
#elog_tab .elog_deleted_by {
  color: #FFB305;
  padding-left: 1.25em;
  text-align: left;
}
#elog_tab div.etop:nth-child(odd) {
  background: #efefef;
}
#elog_tab .elog_tag {
  padding-left: 0.25em;
  padding-right: 0.25em;
}
#elog_tab .elog_tag:not(:first-child) {
  border-left: thin solid #1E48DF;
}
#elog_tab .seloption {
  color: #6685F4;
}
#elog_tab .selectedoption {
  background: #6685F4;
  color: white;
  padding-left: 0.25em;
  padding-right: 0.25em;
}
#elog_search_text {
  padding: 0.1em;
  margin: 0;
  border: none;
  border-radius: 4px;
  width: 20em;
  color: #6685F4;
  font-weight: bold;
}
#elog_tab .elog_run_param_category {
  background: #efefef;
}
#elog_tab .elog_run_param_category .expand_param {
  padding-right: 0.25em;
}
#elog_new_entry_modal {
  margin-left: 1em;
  text-align: left;
}
#elog_new_entry_modal .custom-file-label {
  color: #6685F4;
}
#elog_email_subscriptions {
  margin-left: 1em;
}
#elog_email_subscriptions .modal-body {
  text-align: left;
}
#elog_email_subscriptions .uid {
  font-weight: bold;
  color: #6685F4;
  white-space: nowrap;
}
#elog_email_subscriptions .btn {
  background: #6685F4;
  color: white;
}
#elog_email_subscriptions pre {
  background: lightgray;
}
#current_sample_lbl .fas {
  padding-right: 0.25em;
}
#current_sample_lbl {
  font-weight: lighter;
  font-size: small;
  font-style: italic;
  margin-left: 1em;
}
#current_sample_lbl.samples_different {
  color: #FFCC57;
}
.tooltip .tooltip-inner {
  background-color: #6685F4;
  border: solid thin thin solid #1E48DF;
  padding: 0.25em;
}
.tooltip .arrow::before {
  border-left-color: #6685F4;
  border: solid thin thin solid #1E48DF;
  padding: 0.25em;
}
#myTabContainer .expand_ctrl {
  font-size: 0.75em;
}
#myTabContainer .exp_icons_left {
  float: left;
  padding-right: 0.2em;
}
#myTabContainer .text_truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#myTabContainer ul.nav-pills li a {
  color: #6685F4;
  font-weight: bold;
}
#myTabContainer ul.nav-pills a.active {
  color: #6685F4;
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#myTabContainer ul.nav-pills li a:hover {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#myTabContainer .sitespecific_iframe_parent {
  position: absolute;
  width: 100%;
  height: 100%;
}
#myTabContainer .sitespecific_iframe {
  width: 100%;
  height: 100%;
}
#elog_content {
  padding: 0px;
  margin: 0px;
  padding-top: 0px;
}
#elog_content .entry_actions {
  float: right;
  font-size: 0.9em;
  padding-right: 0.25em;
}
#elog_content .entry_actions span {
  padding-left: 0.15em;
  padding-right: 0.15em;
  opacity: 0.5;
}
#elog_content .elog-chid .card {
  width: 100%;
}
#fmgr_tab .run_file:nth-child(odd) {
  background: #efefef;
}
#fmgr_tab .fdat {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}
#fmgr_tab .fdat:nth-child(odd) {
  background: #efefef;
}
#fmgr_tab .fas {
  opacity: 0.5;
}
#fmgr_tab .fmgr_exp_file_name {
  padding-left: 2em;
  word-break: break-all;
}
#fmgr_tab .fileloc-btn {
  font-size: 0.5rem;
  padding: 1px;
  margin: 1px;
}
#fmgr_tab .runloc-btn {
  font-size: 0.5rem;
  padding: 1px;
  margin: 1px;
}
#rtbl_content table {
  width: 100%;
}
#rtbl_content .sticky-table {
  height: 80vh;
}
#rtbl_content .sticky-table thead tr th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
#rtbl_content table thead tr th {
  overflow: hidden;
  white-space: nowrap;
  background: #6685F4;
  color: white;
  opacity: 0.75;
  font-weight: normal;
}
#rtbl_content .tblhighlight {
  background-color: #1E48DF;
}
#rtbl_content .rtbldef_action {
  opacity: 0.5;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 1rem;
  font-size: inherit;
  color: #1E48DF;
}
#rtbl_content td.rtbl_separator {
  background: #efefef;
  width: 0.25em;
}
#rtbl_content .rtbl_thumbnail {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  height: 100px;
}
#rtbl_content div.rtbl_editable_column {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 3px;
}
#rtbl_content div.rtbl_editable_column:empty::before {
  content: '\feff';
}
#shifts_tab .table th {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#shifts_tab .btnbar {
  margin-left: 0.5em;
  text-align: left;
}
#shifts_tab .shiftstbl tr.active_shift td {
  color: #6685F4;
  font-weight: bold;
  background: #FFCC57;
  margin: 0.1em;
  padding: 0.1em;
}
#sample_content {
  padding: 1px;
  margin: 0px;
  padding-top: 0px;
}
#samples_tab .table th {
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#samples_tab .btnbar {
  margin-left: 0.5em;
  text-align: left;
}
#samples_tab .samplestbl tr.active_sample td {
  color: #6685F4;
  font-weight: bold;
  background: #FFCC57;
  margin: 0.1em;
  padding: 0.1em;
}
#samples_tab .modal table td {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.25rem;
  color: #6685F4;
  font-weight: bold;
}
#choose_sample td {
  padding: 0.5rem;
}
#choose_sample .chsmpic {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #6685F4;
}
.note-callout {
  border: thin #6685F4 solid;
  padding: 0.5em;
  margin-top: 0.25em;
  color: #6685F4;
  font-style: italic;
}
.collab_msg {
  padding-left: 1em;
  padding-bottom: 0.25em;
  text-align: left;
}
#collab_mdl_holder .msg {
  padding-left: 1em;
  padding-bottom: 0.25em;
  text-align: left;
}
#glbl_role_mdl_holder .msg {
  padding-left: 1em;
  padding-bottom: 0.25em;
  text-align: left;
}
#collab_tab .collabtbl thead tr th {
  text-align: center;
  color: white;
  background: #6685F4;
  font-weight: bold;
}
#collab_tab .collabtbl tbody tr td {
  text-align: left;
  padding-left: 1em;
}
#collab_tab .collabtbl tbody tr td .fas {
  padding-right: 1em;
}
#collab_tab .collabtbl tbody tr td .fa-trash {
  opacity: 0.7;
}
#collab_tab .collabtbl tbody tr td .role_present {
  color: red;
}
#collab_tab .collabtbl tbody tr td .role_absent {
  color: green;
}
#collab_tab .collabtbl .croxxout {
  vertical-align: sub;
  font-size: small;
  position: relative;
  bottom: -0.25em;
  right: 0.25em;
}
#collab_tab .collabtbl .collab-no-role {
  opacity: 0.5;
}
#collab_mdl_holder tbody .fas {
  padding-right: 0.75em;
}
#collab_mdl_holder tbody .fa.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
#logout h2 {
  background-color: #6685F4;
  color: white;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  padding-left: 1em;
  text-align: center;
}
#feedback_tab .fd_section_hdr {
  color: #6685F4;
  font-weight: bold;
  text-align: left;
  border-bottom: solid thin #6685F4;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
#feedback_tab .fd_plain_hdr {
  text-align: left;
  padding-left: 1em;
}
#feedback_tab .fd_item {
  text-align: left;
  padding-left: 1em;
}
#feedback_tab .fd_input input {
  border: solid thin black;
}
#feedback_tab select {
  margin-bottom: 0.25em;
}
#feedback_tab .fd_notes {
  text-align: left;
  padding-left: 1.5em;
}
#feedback_tab .fd_survey_notes {
  text-align: left;
  padding-left: 1.5em;
}
#feedback_tab .fd_callout {
  margin-top: 1em;
  text-align: left;
}
#feedback_tab .fd_instructions {
  border: solid thin #6685F4;
  padding: 0.25em;
}
#feedback_tab .ins_ls_title {
  color: #6685F4;
}
#feedback_tab .fd_last_modified {
  margin-top: 2em;
  font-size: : smaller;
  font-style: italic;
}
#feedback_tab .fd_text_instructions {
  overflow: auto;
  color: #6685F4;
  font-style: italic;
}
#feedback_tab .survey_item {
  text-align: left;
}
#lcls_wf_ctrls_tab .wfj_runnum {
  border-bottom: 0;
}
#lcls_wf_ctrls_tab .ctrls_hdr {
  color: #6685F4;
  font-weight: bold;
}
#lcls_wf_ctrls_tab .ctrls_content {
  border: thin black solid;
}
#lcls_wf_ctrls_tab .ctrls_content .runrow {
  border-bottom: thin black solid;
}
#lcls_wf_ctrls_tab .ctrls_content .runhdr span {
  margin-top: 0.25em;
}
#lcls_wf_ctrls_tab .ctrls_content .runrow:nth-child(even) {
  background: #efefef;
}
#lcls_wf_ctrls_tab .wf_counters {
  text-align: left;
}
#lcls_wf_ctrls_tab .wf_counters ul {
  margin-bottom: 0em;
}
#lcls_wf_ctrls_tab .wf_counters .wf_counter_key {
  font-weight: bold;
}
#lcls_wf_ctrls_tab .wf_counters .wf_counter_value {
  padding-left: 0.25rem;
}
#lcls_wf_ctrls_tab .wf_counters .red {
  color: red;
}
#lcls_wf_ctrls_tab .wf_counters .yellow {
  color: yellow;
}
#lcls_wf_ctrls_tab .wf_counters .green {
  color: green;
}
#lcls_wf_ctrls_tab .wf_counters .blue {
  color: blue;
}
#global_roles_tab .role_check {
  color: #6685F4;
}
#lgbk_help {
  font-family: Optima, Helevetica, Lucida Grande, Lucida Sans, sans-serif;
  font-size: 0.85rem;
}
#lgbk_help .title {
  color: white;
  background: #6685F4;
  font-weight: bold;
  text-align: center;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
#lgbk_help .helptext .hh {
  color: #6685F4;
}
#lgbk_help .helptext .hhb {
  color: #6685F4;
  font-weight: bold;
}
#lgbk_help .helptext .st {
  color: #6685F4;
  font-weight: bold;
  border-bottom: thin solid;
  padding-top: 0.25rem;
}
#lgbk_help .helptext .sut {
  color: #6685F4;
  font-weight: bold;
  padding-top: 0.25rem;
}
#lgbk_help .helptext .ic {
  color: #6685F4;
  background-color: white;
}
#lgbk_help .helptext ul {
  margin-bottom: 0;
}
