<!DOCTYPE html>
<html lang="en">
<head>
  <title>Log entry for {{ experiment_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../../static/lgbk.css">
  <link rel=stylesheet type=text/css href="../../../js/bootstrap/css/bootstrap.min.css">

  <script type="text/javascript" src="../../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../../js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="../../../js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../../../js/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="../../../js/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
  <script type="text/javascript" src="../../../js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../../../js/@fortawesome/fontawesome-free/js/solid.min.js"></script>
  <script type="text/javascript" src="../../../js/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>

  <script type="text/javascript" src="../../../static/lgbk.js"></script>
  <script type="text/javascript" src="../../../static/spgntr.js"></script>
  <script type="text/javascript">
    var experiment_name = "{{ experiment_name }}";
    var instrument_name  = "{{ instrument_name }}";
    var entry_id = "{{ entry_id }}";
    var logged_in_user  = "{{ logged_in_user }}";
    var logbook_site = "{{ logbook_site }}";
    const pagepath = "{{pagepath}}";
  </script>

</head>
<body id="log_entry_body">
<div class="tab_title_bar">
    <span class="exp_title">Logbook entry for {{ experiment_name }}<span id="current_sample_lbl"></span></span>
    <span id="toolbar_for_tab"><span id="toelog" title="Go back to the elog"><a href="../eLog"><i class="fa-solid fa-book fa-lg"></i></a></span><span class="syncelog" title="Go to this particular entry in the elog"><i class="fa-solid fa-sync fa-lg"></i></span></span>
</div>
<div class="container-fluid text-center" id="elog_sgl_entry">
</div>
<script type="module">
    async function tabload(taburl) {
        const { tabshow } = await import(taburl);
        tabshow();
    }
    
    document.addEventListener('DOMContentLoaded', () => {
        tabload("../../../static/html/tabs/lgbk/elogentry/tab.js");
    })
</script>

<div class="footer navbar-fixed-bottom" id="lgbk_footer">
  <img alt="Brand" class="slac_logo" src="../../../static/SLAC_LogoSD.png"/>
</div>

</body>
</html>
