<!doctype html>
<html>
<head>
    <title>User documentation for the eLog</title>

    <link rel=stylesheet type=text/css href="../static/lgbk.css">
    <link rel=stylesheet type=text/css href="../js/bootstrap/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="../js/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
    <link rel=stylesheet type=text/css href="../js/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel=stylesheet type=text/css href="../js/noty/lib/noty.css">


    <script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../js/mustache/mustache.min.js"></script>
    <script type="text/javascript" src="../js/lodash/lodash.min.js"></script>
    <script type="text/javascript" src="../js/moment/min/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="../js/noty/lib/noty.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/@fortawesome/fontawesome-free/js/all.min.js"></script>
    <script type="text/javascript" src="../js/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>

    <script type="text/javascript">
        var logged_in_user  = "{{ logged_in_user }}";
        var logbook_site = "{{ logbook_site }}";
        var logged_in_user_details = {{ logged_in_user_details|safe }};
        var privileges = {{ privileges|safe }};
    </script>
</head>

<body id="lgbk_help">
<div id="exp_mdl_holder"></div>
<h5 class="title">User documentation for the data management portal.</h5>
<div class="container-fluid helptext">
</div>


<div class="footer navbar-fixed-bottom">
  <img alt="Brand" class="slac_logo" src="../static/SLAC_LogoSD.png"/>
</div>

<script type="text/javascript">
$(function() {
    $(document).ready(function() {
        $.ajax ("docs/help.html")
        .done(function( hlp ) {
            $("#lgbk_help").find(".helptext").append(hlp);
            $("#lgbk_help").find("[class*='site_']").addClass("d-none");
            $("#lgbk_help").find("[class*='priv_']").addClass("d-none");
            $("#lgbk_help").find(".site_"+logbook_site).removeClass("d-none");
            _.each(privileges, function(v, k){
                if(v) {
                    $("#lgbk_help").find(".priv_"+k).removeClass("d-none");
                }
            })
            let hash = window.location.hash;
            console.log(hash);
            if(!_.isNil(hash) && $("#lgbk_help").find(".helptext").find(hash).length > 0) {
                $("#lgbk_help").find(".helptext").find(hash)[0].scrollIntoView();
            }

        })
        .fail(function(jqXHR, textStatus, errorThrown) { alert("Server failure: " + _.get(jqXHR, "responseText", textStatus))})
    })
})
</script>

</body>
</html>
