<!DOCTYPE html>
<html lang="en">
<head>
  <title>Logbook for {{ experiment_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/lgbk.css">
  <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/noty/lib/noty.css">
  <link rel="stylesheet" type="text/css" href="../../js/summernote/dist/summernote-bs4.css">
  <link rel="stylesheet" type="text/css" href="../../js/selectize/dist/css/selectize.bootstrap3.css">

  <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="../../js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../../js/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="../../js/noty/lib/noty.min.js"></script>
  <script type="text/javascript" src="../../js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/all.min.js"></script>
  <script type="text/javascript" src="../../js/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
  <script type="text/javascript" src="../../js/socket.io-client/dist/socket.io.js"></script>
  <script type="text/javascript" src="../../js/python/flask_socket_util/websocket_client.js"></script>
  <script type="text/javascript" src="../../js/plotly.js/dist/plotly.min.js"></script>
  <script type="text/javascript" src="../../js/summernote/dist/summernote-bs4.min.js"></script>
  <script type="text/javascript" src="../../js/selectize/dist/js/standalone/selectize.min.js"></script>

  <script type="text/javascript" src="../../static/lgbk.js"></script>
  <script type="text/javascript" src="../../static/spgntr.js"></script>

  <script type="text/javascript">
    var experiment_name = "{{ experiment_name }}";
    var instrument_name  = "{{ instrument_name }}";
    var logged_in_user  = "{{ logged_in_user }}";
    var logbook_site = "{{ logbook_site }}";
    var current_sample_at_DAQ = {{current_sample_name|json|safe}};
    var sample_showing_in_UI = current_sample_at_DAQ;
    var roles = { is_writer: {{ is_writer }}, is_editor: {{ is_editor}}, is_admin: {{ is_admin }}, is_lab_personnel: {{ is_lab_personnel }}, is_site_admin: {{ is_site_admin }} };
    var auth_expiration_time = {{ auth_expiration_time }};
    var current_run_url = "../../run_control/{{experiment_name}}/ws/current_run";
    var elog_emails = "../{{experiment_name}}/ws/elog_emails";
    var feedback_survey_def = "../../static/json/feedback_{{logbook_site}}.json";
  </script>

</head>
<body id="lgbk_body">

<nav class="navbar navbar-expand-lg navbar-light" id="myNavRow">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar" aria-controls="myNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="../../static/html/tabs/info.html" href="#info">Info</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="../../static/html/tabs/elog.html" href="#eLog">eLog</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="../../static/html/tabs/samples.html" href="#samples">Samples</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="../../static/html/tabs/runTables.html" href="#runTables">Run Tables</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="../../static/html/tabs/fileManager.html" href="#fileManager">File Manager</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="../../static/html/tabs/shifts.html" href="#shifts">Shifts</a></li>
        <li class="nav-item"><a class="nav-link d-none lab_personnel_only" data-toggle="tab" data-url="../../static/html/tabs/feedback.html" href="#feedback">Feedback</a></li>
        <li class="nav-item dropdown sitespecific"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Mgmt<span class="caret"></span></a>
	        <div class="dropdown-menu">
	          <a class="dropdown-item" data-toggle="tab" data-url="../../static/html/tabs/collaborators.html" href="#collaborators">Collaborators</a>
            </div>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="session_items"><a href="../logout"><span class="logged_in_user_name">{{ logged_in_user }}</span><i class="fas fa-sign-out-alt fa-lg"></i></a></li>
          <li><a href="../experiments"><i class="fas fa-home fa-lg"></i>  Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="tab_title_bar">
    <span class="exp_title">Logbook for {{ experiment_name }}<span id="current_sample_lbl"></span></span>
    <span id="toolbar_for_tab"></span>
</div>

<div id="glbl_modals_go_here"></div>
<div class="tab-content" id="myTabContainer">
  <div role="tabpanel" class="tab-pane fade" id="info"></div>
  <div role="tabpanel" class="tab-pane fade" id="eLog"></div>
  <div role="tabpanel" class="tab-pane fade" id="samples"></div>
  <div role="tabpanel" class="tab-pane fade" id="runTables"></div>
  <div role="tabpanel" class="tab-pane fade" id="fileManager"></div>
  <div role="tabpanel" class="tab-pane fade" id="shifts"></div>
  <div role="tabpanel" class="tab-pane fade d-none lab_personnel_only" id="feedback"></div>
  <div role="tabpanel" class="tab-pane fade sitespecific" id="collaborators"></div>
</div>

<script type="text/javascript">
var showTab = function (e) {
	var target = $(e.target).attr("href");
    console.log("Showing tab " + target);
    history.pushState(null, null, e.target.hash)
	if ($(target).is(':empty')) {
		console.log("Activated tab " + target + " is empty. Triggering load");
		var template_url = $(e.target).attr("data-url");
	    $.ajax({
	      type: "GET",
	      url: template_url,
	      error: function(data){
	        alert("Error fetching template " + template_url + ".");
	      },
	      success: function(data){
	  		console.log("Getting tab data and binding selectors");
	        $(target).html(data);
            $("#toolbar_for_tab").empty();
	        $(target).find(".tabcontainer").trigger("lg.loaded.bs.tab", e);
            $(target).find(".tabcontainer").trigger("lg.shown.bs.tab", e);
	      }
	    });
	} else {
        console.log("Activated non-empty tab " + target);
        $("#toolbar_for_tab").empty();
        $(target).find(".tabcontainer").trigger("lg.shown.bs.tab", e);
    }
};
$(document).ready(function() {
    setCurrentUISample();
    WebSocketConnection.connect();
    $(document).on('samples', function(event, sampleData) {
        if(_.get(sampleData, "CRUD", "") == "Make_Current") {
            current_sample_at_DAQ = _.get(sampleData, "value.name");
            setCurrentUISample();
        }
    });

    if(roles.is_lab_personnel) {
        $("#myNavbar").find(".lab_personnel_only").removeClass("d-none");
        $("#myTabContainer").find(".lab_personnel_only").removeClass("d-none");
    }

    $.getJSON('../../static/json/sitespecific_tabs_' + logbook_site + ".json")
    .done(function(tabs) {
        {% raw %}
        var ssnavtmpl = `{{#.}}<li class="nav-item"><a class="nav-link" data-toggle="tab" data-url="{{data-url}}" href="#{{id}}">{{label}}</a></li>{{/.}}`;
        var ssnavpnltmpl = `{{#.}}<div role="tabpanel" class="tab-pane fade" id="{{id}}"></div>{{/.}}`;
        {% endraw %}
        Mustache.parse(ssnavtmpl); Mustache.parse(ssnavpnltmpl);
        $("#myNavbar").find(".sitespecific").before(Mustache.render(ssnavtmpl, tabs));
        $("#myTabContainer").find(".sitespecific").before(Mustache.render(ssnavpnltmpl, tabs));
    }).always(function(){
        $('a[data-toggle="tab"]').on('shown.bs.tab', showTab);
        // Bootstrap 4 bug; revist after each release...
        $('#myNavbar a[data-toggle="tab"]').on('click', function(e) {
            e.preventDefault();
            $(this).tab('show');
            var theThis = $(this);
            $('#myNavbar a').removeClass('active');
            theThis.addClass('active');
        });
        $('.dropdown-menu a.dropdown-toggle').on('click', function(e) {
          if (!$(this).next().hasClass('show')) {
            $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
          }
          var $subMenu = $(this).next(".dropdown-menu");
          $subMenu.toggleClass('show');

          $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function(e) {
            $('.dropdown-submenu .show').removeClass("show");
          });
          return false;
        });
        // Code for honoring the hash; for example URL#eLog gets you to the eLog
        var hash = window.location.hash;
        if (hash) {
          $('#myNavbar ul.navbar-nav a[href="' + hash + '"]').tab('show');
        } else {
        	$('#myNavbar ul.navbar-nav a:first').tab('show');
        }
    });

    if(auth_expiration_time > 1000000000) {
        var msToSessionTimeout = moment.unix(auth_expiration_time).diff(moment());
        console.log("Session times out in " + msToSessionTimeout + "(ms)");
        $(".session_items").attr("title", "Your session will expire at " + moment.unix(auth_expiration_time).format("dddd, MMMM Do YYYY, h:mm:ss a"));
        var on_session_timeout = function() {
            console.log("Session timed out.");
            $(".session_items").addClass("session_timeout");
            $(".session_items").attr("title", "Your session is about to or has already timed out. Please logout and log back in to continue your work.");
        }
        if(msToSessionTimeout > 30000) {
            setTimeout(on_session_timeout, msToSessionTimeout - 30000);
        } else {
            on_session_timeout();
        }
    }
});

</script>

<div class="footer navbar-fixed-bottom" id="lgbk_footer">
  <img alt="Brand" class="slac_logo" src="../../static/SLAC_LogoSD.png"/>
</div>

</body>
</html>
