<!DOCTYPE html>
<html lang="en">
<head>
  <title>Logbook for {{ experiment_name }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/lgbk.css">
  <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/@eonasdan/tempus-dominus/dist/css/tempus-dominus.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/summernote/dist/summernote-bs5.css">
  <link rel="stylesheet" type="text/css" href="../../js/selectize/dist/css/selectize.default.css">

  <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="../../js/@popperjs/core/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="../../js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../../js/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="../../js/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
  <script type="text/javascript" src="../../js/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/regular.min.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/solid.min.js"></script>
  <script type="text/javascript" src="../../js/@fortawesome/fontawesome-free/js/fontawesome.min.js"></script>
  <script type="text/javascript" src="../../js/@eonasdan/tempus-dominus/dist/js/tempus-dominus.min.js"></script>
  <script type="text/javascript" src="../../js/socket.io-client/dist/socket.io.js"></script>
  <script type="text/javascript" src="../../js/python/flask_socket_util/websocket_client.js"></script>
  <script type="text/javascript" src="../../js/summernote/dist/summernote-bs5.min.js"></script>
  <script type="text/javascript" src="../../js/selectize/dist/js/standalone/selectize.min.js"></script>

  <script type="text/javascript" src="../../static/lgbk.js"></script>
  <script type="text/javascript" src="../../static/spgntr.js"></script>

  <script type="text/javascript">
    const experiment_name = "{{ experiment_name }}";
    const instrument_name  = "{{ instrument_name }}";
    const logged_in_user  = "{{ logged_in_user }}";
    const logbook_site = "{{ logbook_site }}";
    const privileges = {{ privileges|safe }};
    let auth_expiration_time = {{ auth_expiration_time }};
    let current_sample_at_DAQ = {{current_sample_name|json|safe}};
    let sample_showing_in_UI = current_sample_at_DAQ;
    let is_locked = {{ is_locked }};
    let tabname = "{{tabname}}";
    let pagepath = "{{pagepath}}";
  </script>
  
  <script type="module">
    import "../../static/html/components/all.js";
  </script>

</head>
<body id="lgbk_body">

<nav class="navbar navbar-expand-lg navbar-light" role="navigation" id="myNavRow">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="navbar-nav mr-auto" role="tablist">
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/info/tab.js" role="tab" data-bs-target="#info">Info</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/elog/tab.js" role="tab" data-bs-target="#eLog">eLog</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/samples/tab.js" role="tab" data-bs-target="#samples">Samples</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/rtbl/tab.js" role="tab" data-bs-target="#runTables">Run Tables</a></li>
        <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/fmgr/tab.js" role="tab" data-bs-target="#fileManager">File Manager</a></li>
        <li class="nav-item"><a class="nav-link d-none" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/shifts.js" role="tab" data-bs-target="#shifts">Shifts</a></li>
        <li class="nav-item sitespecific"><a class="nav-link" data-bs-toggle="tab" data-lg-url="../../static/html/tabs/lgbk/collab/tab.js" role="tab" data-bs-target="#collaborators">Collaborators</a></li>
      </ul>
      <ul class="nav navbar-nav position-absolute top-0 end-0 py-2">
          <li class="session_items"><a href="../logout"><span class="logged_in_user_name">{{ logged_in_user }}</span><i class="fa-solid fa-sign-out-alt fa-lg"></i></a></li>
          <li class="px-2"><a href="../experiments"><i class="fa-solid fa-home fa-lg"></i>  Home</a></li>
          <li class="px-2"><span class="timezone" title="Current timezone is Pacific (America/Los_Angeles). Click to change timezone to the local timezone"><i class="fa-solid fa-clock"></i></span></li>
          <li class="px-2"><span class="help" title="User documentation"><i class="fa-solid fa-question fa-lg"></i></span></li>
      </ul>
    </div>
  </div>
</nav>

<div class="tab_title_bar lgbk_socketio">
    <span class="exp_title">Logbook for {{ experiment_name }}<span id="current_sample_lbl"></span></span>
    <span id="toolbar_for_tab"></span>
</div>

<div id="glbl_modals_go_here"></div>
<div id="glbl_toasts_go_here"></div>
<div class="tab-content" id="myTabContainer">
  <div role="tabpanel" class="tab-pane fade" id="info"></div>
  <div role="tabpanel" class="tab-pane fade" id="eLog"></div>
  <div role="tabpanel" class="tab-pane fade" id="samples"></div>
  <div role="tabpanel" class="tab-pane fade" id="runTables"></div>
  <div role="tabpanel" class="tab-pane fade" id="fileManager"></div>
  <div role="tabpanel" class="tab-pane fade" id="shifts"></div>
  <div role="tabpanel" class="tab-pane fade sitespecific" id="collaborators"></div>
</div>

<script type="module">
    // Module specifier are resolved using the current module's URL as base. This is the "current" module; so all dynamic imports from now on will use this as their base.
    // https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/import.meta/resolve

    import { loadSiteSpecificTabs } from "../../static/html/tabs/lgbk/sitespecifictabs.js";
    import { miscSetup } from "../../static/html/tabs/lgbk/miscsetup.js";

    if(_.includes([ "#info", "#eLog", "#samples", "#runTables", "#fileManager", "#feedback", "#collaborators", "#lcls_wf_defs", "#lcls_wf_jobs", "#summaries" ], location.hash)) {
      document.querySelector("#lgbk_body").innerHTML = `<div class="my-4"><h4>Redirecting old style hash URL's <b>(${location.hash})</b> to new style path based URL's. You should be redirected automatically in a few seconds.</h4></div>`;
      setTimeout(() => { window.location.replace("./" + location.hash.substring(1)); }, 2000);
    }
    
      async function tabload(taburl, target) {
        const { tabshow } = await import(taburl);
        tabshow(target);
      }

    
      document.addEventListener('DOMContentLoaded', () => { 
        loadSiteSpecificTabs()
        .then(() => {
            lgbksetuptabs(tabload);

            WebSocketConnection.connect();

            setCurrentUISample();
            miscSetup();
        })
      })


</script>

<div class="footer navbar-fixed-bottom" id="lgbk_footer">
  <img alt="Brand" class="slac_logo" src="../../static/SLAC_LogoSD.png"/>
</div>

</body>
</html>
