<!DOCTYPE html>
<html lang="en">
<head>
  <title>Experiment Logbook</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../../static/lgbk.css">
  <link rel="stylesheet" type="text/css" href="../../js/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
  <link rel="stylesheet" type="text/css" href="../../js/font-awesome/css/font-awesome.min.css">

  <script type="text/javascript" src="../../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../../js/mustache/mustache.min.js"></script>
  <script type="text/javascript" src="../../js/lodash/lodash.min.js"></script>
  <script type="text/javascript" src="../../js/moment/min/moment-with-locales.min.js"></script>
  <script type="text/javascript" src="../../js/jquery.noty.packaged.js/jquery.noty.packaged.js"></script>
  <script type="text/javascript" src="../../js/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../../js/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="../../js/socket.io-client/dist/socket.io.js"></script>
  <script type="text/javascript" src="../../js/python/flask_socket_util/websocket_client.js"></script>
  <script type="text/javascript" src="../../js/plotly.js/dist/plotly.min.js"></script>

  <script src="../../static/lgbk.js"></script>

  <script type="text/javascript">
    var experiment_name = "{{ experiment_name }}";
    var logged_in_user  = "{{ logged_in_user }}";
    var logbook_site = "{{ logbook_site }}";
    var current_sample_at_DAQ = {{current_sample_name|json|safe}};
    var sample_showing_in_UI = current_sample_at_DAQ;
    var roles = { is_writer: {{ is_writer }}, is_editor: {{ is_editor}}, is_admin: {{ is_admin }} };
    var auth_expiration_time = {{ auth_expiration_time }};
  </script>

</head>
<body id="lgbk_body">

<nav class="navbar navbar-default" role="navigation" id="myNavRow">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a data-toggle="tab" data-url="../../static/html/tabs/info.html" href="#info">Info</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/elog.html" href="#eLog">eLog</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/samples.html" href="#samples">Samples</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/runTables.html" href="#runTables">Run Tables</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/fileManager.html" href="#fileManager">File Manager</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/workflow.html" href="#workflow">Workflow</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/shifts.html" href="#shifts">Shifts</a></li>
        <li><a data-toggle="tab" data-url="../../static/html/tabs/operations.html" href="#operations">Operations</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Misc<span class="caret"></span></a>
	        <ul class="dropdown-menu">
	          <li><a data-toggle="tab" data-url="../../static/html/tabs/collaborators.html" href="#collaborators">Collaborators</a></li>
	        </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="session_items"><a href="../../../../logout"><span class="logged_in_user_name">{{ logged_in_user }}</span><i class="fa fa-sign-out fa-lg"></i></a></li>
          <li><a href="../experiments"><i class="fa fa-home fa-lg"></i>  Home</a></li>
      </ul>
    </div>
    <div class="tab_title_bar">
        <span class="exp_title">Logbook for {{ experiment_name }}<span id="current_sample_lbl"></span></span>
        <span id="toolbar_for_tab"></span>
    </div>
  </div>
</nav>

<div id="glbl_modals_go_here"></div>
<div class="tab-content" id="myTabContainer">
  <div role="tabpanel" class="tab-pane fade" id="info"></div>
  <div role="tabpanel" class="tab-pane fade" id="eLog"></div>
  <div role="tabpanel" class="tab-pane fade" id="samples"></div>
  <div role="tabpanel" class="tab-pane fade" id="runTables"></div>
  <div role="tabpanel" class="tab-pane fade" id="fileManager"></div>
  <div role="tabpanel" class="tab-pane fade" id="workflow"></div>
  <div role="tabpanel" class="tab-pane fade" id="shifts"></div>
  <div role="tabpanel" class="tab-pane fade" id="operations"></div>
  <div role="tabpanel" class="tab-pane fade" id="collaborators"></div>
</div>

<script type="text/javascript">

$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
	var target = $(e.target).attr("href");
    history.pushState(null, null, e.target.hash)
	if ($(target).is(':empty')) {
		console.log("Activated tab " + target + " is empty. Triggering load");
		var template_url = $(e.target).attr("data-url");
	    $.ajax({
	      type: "GET",
	      url: template_url,
	      error: function(data){
	        alert("Error fetching template " + template_url + ".");
	      },
	      success: function(data){
	  		console.log("Getting tab data and binding selectors");
	        $(target).html(data);
            $("#toolbar_for_tab").empty();
	        $(target).find(".tabcontainer").trigger("lg.loaded.bs.tab", e);
            $(target).find(".tabcontainer").trigger("lg.shown.bs.tab", e);
	      }
	    });
	} else {
        $("#toolbar_for_tab").empty();
        $(target).find(".tabcontainer").trigger("lg.shown.bs.tab", e);
    }
 });


// Code for honoring the hash; for example URL#eLog gets you to the eLog
var hash = window.location.hash;
if (hash) {
  $('ul.nav a[href="' + hash + '"]').tab('show');
} else {
	$('.navbar-nav a:first').tab('show');
}

$(document).ready(function() {
    setCurrentUISample();
    WebSocketConnection.connect();
    $(document).on('samples', function(event, sampleData) {
        if(_.get(sampleData, "CRUD", "") == "Make_Current") {
            current_sample_at_DAQ = _.get(sampleData, "value._id");
            setCurrentUISample();
        }
    });
    if(auth_expiration_time > 1000000000) {
        var msToSessionTimeout = moment.unix(auth_expiration_time).diff(moment());
        console.log("Session times out in " + msToSessionTimeout + "(ms)");
        $(".session_items").attr("title", "Your session will expire at " + moment.unix(auth_expiration_time).format("dddd, MMMM Do YYYY, h:mm:ss a"));
        var on_session_timeout = function() {
            console.log("Session timed out.");
            $(".session_items").addClass("session_timeout");
            $(".session_items").attr("title", "Your session is about to or has already timed out. Please logout and log back in to continue your work.");
        }
        if(msToSessionTimeout > 30000) {
            setTimeout(on_session_timeout, msToSessionTimeout - 30000);
        } else {
            on_session_timeout();
        }
    }
});

</script>

<div class="footer navbar-fixed-bottom">
  <img alt="Brand" class="slac_logo" src="../../static/SLAC_LogoSD.png"/>
</div>

</body>
</html>
