<!DOCTYPE html>
<html lang="en">
<head>
  <title>Logout</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/lgbk.css">
  <link rel="stylesheet" type="text/css" href="../js/bootstrap/css/bootstrap.min.css">
  <script type="text/javascript" src="../js/jquery/jquery.min.js"></script>
  <script type="text/javascript" src="../js/bootstrap/js/bootstrap.min.js"></script>
</head>
<body id="logout">
    <div>
        <div>
          <h2>Logbook</h2>
        </div>
        <div class="alert alert-warning" role="alert">
            You have been logged out of the application; however, you will need to exit out of all of your browser windows and close the browser application in order to completely destroy your session.
            <p>Failure to do so will permit other users to use applications under your account without needing your password.</p>
        </div></div>
    </div>
</body>
</html>
