<div class="exp_info">
 <h1>General Info</h1>

<div class="row">
    <div class="col-9">
        <div class="exp_details">
            <div class="row"><span class="label col-3">Name:</span><span class="col-9">{{ info.name }}</span></div>
            <div class="row"><span class="label col-3">Instrument:</span><span class="col-9">{{ info.instrument }}</span></div>
            <div class="row"><span class="label col-3">Start Time:</span><span class="col-9">{{#FormatDate}}{{ info.start_time }}{{/FormatDate}}</span></div>
            <div class="row"><span class="label col-3">End Time:</span><span class="col-9">{{#FormatDate}}{{ info.end_time }}{{/FormatDate}}</span></div>
            <div class="row"><span class="label col-3">PI:</span><span class="col-9"><a href="mailto:{{ info.contact_email }}">{{ info.contact_name }}</a></span></div>
            <div class="row"><span class="label col-3">PI Email:</span><span class="col-9">{{ info.contact_email }}</span></div>
            <div class="row"><span class="label col-3" title="When the experiment was created, this account was given privileges to add/remove collaborators from the experiment.">Leader Account:</span><span class="col-9">{{info.leader_account}}</span></div>
            <div class="row"><span class="label col-3">Description:</span><span class="col-9">{{ info.description }}</span></div>
            <div class="row" title="Slack channels in the LCLSUsers workspace">
              <span class="label col-3">Slack channels:</span><span class="col-9">{{#info.params.slack_channels}}{{.}}{{/info.params.slack_channels}}{{^info.params.slack_channels}}N/A{{/info.params.slack_channels}}<span class="param_edit pl-2" data-param-name="params.slack_channels" data-param-title="Edit Slack channels" data-param-message="Enter a space separated list of Slack channels names in the LCLSUsers workspace"><i class="fas fa-edit"></i></span></span>
            </div>
            <div class="row" title="Use these queues for analysis">
              <span class="label col-3">Analysis Queues:</span><span class="col-9">{{#info.params.analysis_queues}}{{.}}{{/info.params.analysis_queues}}{{^info.params.analysis_queues}}N/A{{/info.params.analysis_queues}}<span class="param_edit pl-2" data-param-name="params.analysis_queues" data-param-title="Edit the analysis queues" data-param-message="Enter a space separated list of SLURM queue names"><i class="fas fa-edit"></i></span></span>
            </div>
            {{#info.params.PNR}}<div class="row"><span class="label col-3">URAWI Proposal:</span><span class="col-9">{{.}}</span></div>{{/info.params.PNR}}
        </div>
    </div>
    <div class="col-3 text-justify infohelp">
        Welcome to the LCLS data management portal.
        You can use the nav bar above to switch between the various functions in data management.
        Each tab typically has some icons on the top right hand corner for various functions.
        Hover over the icons to get some documentation as a tooltip.
        The <span class="helpd"><i class="fas fa-question fa-lg"></i></span> icon should open up the user documentation.
        If you have any questions, please contact <span class="no-break">pcds-datamgt-l@slac.stanford.edu</span>.
    </div>
</div>
<div class="ques_embed">
 <div class="ques_tabs">
 </div>
</div>

<script type="text/javascript">
$("#info_tab").on("info_loaded", function(ev, info){
  if(!_.get(privileges, "feedback_write", false)) { $("#info_tab").find(".param_edit").addClass("d-none");  }
    $("#info_tab").find(".param_edit").on("click", function(){
      let param_name = $(this).attr("data-param-name"), param_value = _.get(info, param_name), param_title = $(this).attr("data-param-title"), param_msg = $(this).attr("data-param-message");
      $.ajax ("../../static/html/ms/gen_oneinput.html")
      .done(function(d0){
        console.log(param_msg);
        let rendered = $(Mustache.render(d0, { title: param_title, message: param_msg, btnlbl: "Submit", curvalue: param_value }));
        rendered.find(".gen_input_submit").on("click", function(){
          let update_param_value = rendered.find(".gen_input").val(), updated_params = _.set({}, _.replace(param_name, "params.", ""), update_param_value);
          $.post({url: "ws/add_update_experiment_params", data: JSON.stringify(updated_params), contentType: "application/json; charset=utf-8", dataType: "json"})
          .done(function(data, textStatus, jqXHR) {
            if(data.success) {
                $("#glbl_modals_go_here").find(".modal").modal("hide");
                window.location.reload(true);
            } else {
              error_message("Server side exception updating experiment parameter " + data.errormsg);
            }
          })
          .fail( function(jqXHR, textStatus, errorThrown) { error_message("Server side HTTP updating experiment parameter " + textStatus); })
        })
        $("#glbl_modals_go_here").empty().append(rendered);
        $("#glbl_modals_go_here").find(".modal").on("hidden.bs.modal", function(){ $("#glbl_modals_go_here").empty(); });
        $("#glbl_modals_go_here").find(".modal").modal("show");
      })
    })

    if(_.has(info, "params.PNR") && !_.isEqual(_.get(info, "params.PNR"), "N/A")) {
        $("#info_tab").find(".ques_embed").prepend($("<h1 class='pt-2'>Questionnaire</h1>"));
        let run_period = _.get(info, "params.run_period", "run"+experiment_name.slice(experiment_name.length - 2))
        $.getJSON("../../../questionnaire_slac/ws/questionnaire/urawidata/" + run_period + "/" + _.get(info, "params.PNR"))
        .done(function(ques_data){
            $("#info_tab").find(".ques_tabs").first().append('<iframe class="sitespecific_iframe" src=../../../questionnaire_slac/proposal_questionnaire/' + run_period + '/' + _.get(info, "params.PNR") + '/?hideHeader=true></iframe>');
            $(document).on("resize_embedded_iframe", function(ev, newh){
                console.log("Changing embedded IFrame's height to " + newh);
                $("#info_tab").find(".sitespecific_iframe").height(newh);
            })
            $.getJSON("../../../questionnaire_slac/ws/proposal/attribute/" + run_period + '/' + _.get(info, "params.PNR"))
            .done(function(ques_attr){
                console.log(ques_attr);
                var pocs = _.fromPairs(_.filter(_.map(_.get(ques_attr, "personnel"), function(ps) { if(_.get(ps, "id") ==  "personnel-poc-sci1" || _.get(ps, "id") == "personnel-poc-sci2") return [_.get(ps, "id"), _.get(ps, "val")]; })));
                var poctmpl = {{=<% %>=}}`{{#personnel-poc-sci1}}<div class="row"><span class="label col-3">POC 1:</span><span class="col-9">{{personnel-poc-sci1}}</span></div>{{/personnel-poc-sci1}}{{#personnel-poc-sci2}}<div class="row"><span class="label col-3">POC 2:</span><span class="col-9">{{personnel-poc-sci2}}</span></div>{{/personnel-poc-sci2}}`<%={{ }}=%>
                $("#info_tab").find(".exp_details").first().append(Mustache.render(poctmpl, pocs, {}));
            }).fail(function(){ console.log("Cannot get personnel from the questionnaire."); });
        }).fail(function() {
            $("#info_tab").find(".ques_tabs").append($('<p class="no_ques">Unable to load the setup from the questionnaire. If you believe that there was setup information associated with this experiment, please contact LCLS data management to retrieve the setup information for you. </p>'));
        });
    } else {
        var poctmpl = {{=<% %>=}}`{{#latest_setup.general-poc1}}<div class="row"><span class="label col-3">POC 1:</span><span class="col-9">{{.}}</span></div>{{/latest_setup.general-poc1}}{{#latest_setup.general-poc2}}<div class="row"><span class="label col-3">POC 2:</span><span class="col-9">{{.}}</span></div>{{/latest_setup.general-poc2}}`<%={{ }}=%>
        $("#info_tab").find(".exp_details").first().append(Mustache.render(poctmpl, info));
    }
});

</script>

</div>
